/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─
/*─                                                                                      VARS
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*───────────────────────────────────────────────────────────*/
/*─                          fonts
/*───────────────────────────────────────────────────────────*/

$font: 'monospace';
$style: normal;

@mixin font-face $font, 400, $style, monospace;
@mixin font-face $font, 200, $style, monospace;

/*───────────────────────────────────────────────────────────*/
/*─                         variables
/*───────────────────────────────────────────────────────────*/

$color: #131313;
